#map {
    width: 50%;
    height: 40rem;
    margin: 5rem auto;
  }

  h1 {
    text-align: center;
    margin-top: 3rem;
  }

  button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  #question {
    text-align: center;
    margin-top: 4rem;
  }